div{
    background-color: cadetblue;
    padding: 30px;
    text-align: center;
}
div:nth-of-type(odd){
    background-color: burlywood;
}
.content{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}